{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Les sorties
{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>

    <form method="get" action="{{ path('sortie_list') }}">
        <select name="site" onchange="this.form.submit()">
            <option value="0">-- Tous les sites --</option>
            {% for site in sites %}
                <option value="{{ site.id }}" {% if app.request.get('site') == site.id %}selected{% endif %}>
                    {{ site.nom }}
                </option>
            {% endfor %}
        </select>
    </form>


    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Infos</th>
            <th>Date et heure de début</th>
            <th>Durée (h)</th>
            <th>Nb max inscrits</th>
            <th>Date limite inscription</th>
            <th>Site</th>
            <th>Organisateur</th>
            <th>État</th>
            <th>Lieu</th>
            <th>Inscription</th>
            <th>Détail</th>
        </tr>
        </thead>
        <tbody>
        {% for c in sorties %}
            <tr>
                <td>{{ c.nom }}</td>
                <td>{{ c.infosSortie }}</td>
                <td>
                    {{ c.dateHeureDebut ? c.dateHeureDebut|date('d/m/Y H:i') : 'Non définie' }}
                </td>
                <td>{{ c.duree ?? '-' }}</td>
                <td>{{ c.nbInscriptionsMax ?? '-' }}</td>
                <td>
                    {{ c.dateLimiteInscription ? c.dateLimiteInscription|date('d/m/Y') : '-' }}
                </td>
                <td>{{ c.idSite ? c.idSite.nom : 'Aucun site' }}</td>
                <td>
                    {# Ajuste ici selon le nom de ta propriété dans User #}
                    {{ c.idOrganisateur ? c.idOrganisateur.email : 'Aucun organisateur' }}
                </td>
                <td>{{ c.idEtat ? c.idEtat.libelle : 'Aucun état' }}</td>
                <td>{{ c.idLieu ? c.idLieu.nom : 'Aucun lieu' }}</td>
                <td>
                    <a href="{{ path('sortie_register', {'id': c.id}) }}">S'inscrire</a>

                </td>

                <td>
                    <a href="{{ path('sortie_show', {'id': c.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11" style="text-align:center;">Aucune sortie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
