{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ sortie.nom }}
{% endblock %}

{% block body %}
    <h1>{{ sortie.nom }}</h1>
    <p>{{ sortie.infosSortie }}</p>
    <p>{{ sortie.dateHeureDebut|date('d/m/Y') }} </p>
    <p>{{ sortie.idLieu.nom }}</p>
    <p>{{ sortie.nbInscriptionsMax }} personnes maximum</p>




    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Mail</th>


            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <td>{{ participant.nom }}</td>
            <td>{{ participant.prenom }}</td>
            <td>{{ participant.email }}</td>

            {% endfor %}

        </tbody>
    </table>
{% endblock %}