<nav class="uk-navbar-container custom-navbar fixed-top uk-margin">

    <div class="uk-container">
        <div class="uk-navbar">

            <div class="uk-navbar-left">
                <a href="{{ path('main_home') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="logo" class="logo">
                </a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="{{ path('main_home') }}">Accueil</a></li>
                    <li class="uk-active"><a href="{{ path('sortie_list') }}">Liste</a></li>
                    {% if app.user %}
                    <li class="uk-active uk-visible@m"><a href="{{ path('sortie_create') }}">Créer</a></li>
                    {% endif %}
                     {% if is_granted('ROLE_ADMIN') %}
                        <li class="uk-active"><a href="{{ path('user_list') }}">Liste des utilisateurs</a></li>
                         <li class="uk-active uk-visible@m"><a href="{{ path('admin_userImport') }}">CSV</a></li>
                     {% endif %}
                    <li class="uk-active"><a href="#">A propos</a></li>
                    {% if app.user %}
                    <li class="uk-active uk-visible@m"><a href="{{ path('villes_list') }}">Gerer les Villes et Lieux</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="uk-navbar-right uk-flex uk-flex-middle uk-gap-small">

                {% if app.user %}
                    <div>
                        <span>Bonjour {{ app.user.prenom }}</span>
                        {% if app.user.photo %}
                            <img src="{{ asset('uploads/photos/' ~ app.user.photo) }}" alt="Photo de profil" class="navbar_photo_profil uk-border-circle">
                        {% else %}
                            <img src="{{ asset('images/profil_defaut.png') }}" alt="Photo de profil" class="navbar_photo_profil uk-border-circle">
                        {% endif %}
                    </div>
                    <div class="navbar_droite">
                        <a href="{{ path('user_view') }}" class="uk-button uk-button-text">Mon profil</a>
                        <a href="{{ path('app_logout') }}" class="uk-button uk-button-text">Se déconnecter</a>
                    </div>
                {% else %}
                    <a href="{{ path('app_register') }}" class="uk-button uk-button-text">S'enregistrer</a>
                    <a href="{{ path('app_login') }}" class="uk-button uk-button-text">Se connecter</a>
                {% endif %}
            </div>

        </div>
    </div>
</nav>
