<nav class="uk-navbar-container custom-navbar fixed-top uk-margin">

    <div class="uk-container">
        <div class="uk-navbar">

            <div class="uk-navbar-left">
                <a href="{{ path('main_home') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="logo" class="logo">
                </a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="{{ path('main_home') }}">Accueil</a></li>
                    <li class="uk-active"><a href="{{ path('sortie_list') }}">Liste</a></li>
                    {#  {% if app.user %}#}
                        <li class="uk-active"><a href="{{ path('sortie_create') }}">Créer</a></li>
{#  {% endif %}#}
                     {% if app.user.isAdministrateur %}
                    <li class="uk-active"><a href="{{ path('user_list') }}">Liste des utilisateurs</a></li>
                     {% endif %}
                    <li class="uk-active"><a href="#">A propos</a></li>
                </ul>
            </div>

            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    {% if app.user %}
                        <div>
                            Bonjour {{ app.user.userIdentifier }}
                            <ul class="uk-navbar-nav">
                                <li>
                                    <a href="{{ path('user_view') }}">Mon profil</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <li class="uk-active"><a href="{{ path('app_register') }}">S'enregistrer</a></li>
                        <li class="uk-active"><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
</nav>
